apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: my-nginx
  template:
    metadata:
      labels:
        app: my-nginx
    spec:
      containers:
        - image: us-docker.pkg.dev/google-samples/containers/gke/gb-frontend:v5
          name: guestbook-ui
          ports:
            - containerPort: 80
